# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/

# Custom
*.license
*.gpg
*.pgp
.github/
examples/
template_output.yaml
trivy.yaml
values_*.yaml
.helmignore
*.md.gotmpl
*.tgz
.editorconfig
.gitattributes
