#
# Main configuration file
#
# To override single property use --set
# To override multiple, provide another values-override.yaml with the -f flag
# See https://helm.sh/docs/chart_template_guide/values_files/

global:
  imagePullSecrets: []
  storageClass: "standard"
  imageRegistry: docker.io

# K8S API versions differ on Kubernetes and local Minikube installation.
# Please, refer to: https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/
versions:
  api: apps/v1
  service: v1
  ingress: networking.k8s.io/v1
  deployment: apps/v1
  statefulset: apps/v1
  secret: v1
  configmap: v1
  volume: v1
  job: batch/v1
  daemon: apps/v1
  pvc: v1
  pv: v1

# Top lvl flat for easier maintenance
images:
  graphdb:
    repository: ontotext/graphdb
    tag: "10.1.3"
  busybox:
    repository: busybox
    tag: "1.31"

####### DEPLOYMENT CONFIGURATIONS #######
deployment:
  # -- Defines the policy with which components will request their image.
  imagePullPolicy: IfNotPresent
  # Secret used to pull Docker images. Uncomment to use it.
  # Important: Must be created beforehand
  # imagePullSecret: ontotext5

  # -- The storage place where components will read/write their persistent data in case the default
  # persistent volumes are used. They use the node's file system.
  storage: /data
  # -- The hostname and protocol at which the graphdb will be accessible.
  # Needed to configure ingress as well as some components require it to properly render their UIs
  protocol: http
  # Important: This should be a resolvable hostname, not an IP address!
  host: localhost

  # Configures SSL termination on ingress level.
  # See https://kubernetes.github.io/ingress-nginx/examples/tls-termination/
  tls:
    # -- Feature toggle for SSL termination. Disabled by default.
    # If TLS is enabled, the protocol should also be updated (https)
    enabled: false
    # -- Name of a Kubernetes secret object with the key and certificate.
    # If TLS is enabled, it's required to be provided, depending on the deployment.
    secretName:

  # -- Ingress related configurations
  ingress:
    enabled: true
    class: nginx
    # -- Sets extra ingress annotations
    annotations: {}
    # -- Sets the maximum size for all requests to the underlying Nginx
    maxRequestSize: 512M
    # -- Default timeouts in seconds for the underlying Nginx.
    timeout:
      connect: 5
      read: 600
      send: 600

# GraphDB database configurations
graphdb:
  clusterConfig:
    # -- Number of GraphDB nodes to be used in the cluster.
    # Set value to 1 to run a standalone GraphDB instance.
    nodesCount: 1
    # -- A secret used for secure communication amongst the nodes in the cluster.
    clusterSecret: s3cr37
    # -- Timeout for the cluster creation CURL query.
    # Note: By default helm waits for Kubernetes commands to complete for 5 minutes. You can increase that by adding "--timeout 10m" to the helm command.
    clusterCreationTimeout: 60
    # -- Cluster configuration parameters:
    # The minimum wait time in milliseconds for a heartbeat from a leader.
    electionMinTimeout: 7000
    # The variable portion of each waiting period in milliseconds for a heartbeat.
    electionRangeTimeout: 5000
    # The interval in milliseconds between each heartbeat that is sent to follower nodes by the leader.
    heartbeatInterval: 2000
    #The size of the data blocks transferred during data replication streaming through the RPC protocol.
    messageSize: 64
    # The amount of time in milliseconds a follower node would wait before attempting to verify the last committed entry when the first verification is unsuccessful.
    verificationTimeout: 1500

  # -- References to configuration maps containing settings.js, users.js, graphdb.properties, and logback.xml files to overwrite
  # the default GraphDB configuration. For reference see https://graphdb.ontotext.com/documentation/standard/configuring-graphdb.html
  configs:
    # Override default settings configuration
    #settingsConfigMap: graphdb-settings-configmap
    # Override default users configuration
    #usersConfigMap: graphdb-users-configmap
    # Override default properties configuration
    #propertiesConfigMap: graphdb-properties-configmap
    # Override default logback configuration
    #logbackConfigMap: graphdb-logback-configmap

  security:
    # If the security is enabled, it's mandatory to have a provisioning user, so the health-checks and cluster linking can work properly
    enabled: false
    provisioningUsername: provisioner
    # bcrypt encrypted password. default: iHaveSuperpowers
    provisioningPassword: iHaveSuperpowers

  # -- Settings for the GraphDB cluster proxy used to communicate with the GraphDB cluster
  # Note: If there is no cluster (graphdb.clusterConfig.nodesCount is set to 1) no proxy will be deployed
  clusterProxy:
    # -- Number of cluster proxies used to access the GraphDB cluster
    replicas: 1
    # -- Java arguments with which the cluster proxy instances will be launched. GraphDB configuration properties can also be passed here in the format -Dprop=value
    java_args: "-XX:MaxRAMPercentage=70 -Ddefault.min.distinct.threshold=100m -XX:+UseContainerSupport"
    # -- Service type used by the graphdb-cluster-proxy service
    # Note: If using ALB in AWS EKS this will default to being on the public internet
    serviceType: LoadBalancer
    # Node scheduling options such as nodeSelector, affinity, tolerations, topologySpreadConstraints can be set here for ALL nodes.
    # By default, no restrictions are applied.
    # nodeSelector: {}
    # affinity: {}
    # tolerations: {}
    # topologySpreadConstraints: {}
    # -- Minimum requirements for a successfully running GraphDB cluster proxy
    resources:
      limits:
        memory: 1Gi
        cpu: 500m
      requests:
        memory: 1Gi
        cpu: 500m
    # -- Configurations for the GraphDB cluster proxy startup probe. Misconfigured probe can lead to a failing cluster.
    startupProbe:
      httpGet:
        path: /protocol
        port: gdb-proxy-port
      failureThreshold: 30
      timeoutSeconds: 5
      periodSeconds: 10
    # -- Configurations for the GraphDB cluster proxy readiness probe. Misconfigured probe can lead to a failing cluster.
    readinessProbe:
      httpGet:
        path: /proxy/ready
        port: gdb-proxy-port
      initialDelaySeconds: 20
      timeoutSeconds: 5
      periodSeconds: 10
    # -- Configurations for the GraphDB cluster proxy liveness probe. Misconfigured probe can lead to a failing cluster.
    livenessProbe:
      httpGet:
        path: /proxy/health
        port: gdb-proxy-port
      initialDelaySeconds: 60
      timeoutSeconds: 5
      periodSeconds: 10

  # -- Settings for the GraphDB cluster nodes
  node:
    # -- Reference to a secret containing 'graphdb.license' file to be used by the nodes.
    # Important: Must be created beforehand
    license:
    # -- Java arguments with which node instances will be launched. GraphDB configuration properties can also be passed here in the format -Dprop=value
    java_args: "-XX:MaxRAMPercentage=70 -Ddefault.min.distinct.threshold=100m -XX:+UseContainerSupport"
    # Node scheduling options such as nodeSelector, affinity, tolerations, topologySpreadConstraints can be set here for ALL nodes.
    # By default, no restrictions are applied.
    # nodeSelector: {}
    # affinity: {}
    # tolerations: {}
    # topologySpreadConstraints: {}
    # -- Persistence configurations.
    # By default, Helm will use a PV that reads and writes to the host file system.
    persistence:
      # use dynamic volume provisioning
      volumeClaimTemplateSpec:
        accessModes:
          - "ReadWriteOnce"
        resources:
          requests:
            storage: "5Gi"
    # -- Below are minimum requirements for data sets of up to 50 million RDF triples
    # For resizing, refer according to the GraphDB documentation
    # http://graphdb.ontotext.com/documentation/requirements.html
    resources:
      limits:
        memory: 2Gi
        cpu: 2000m
      requests:
        memory: 2Gi
        cpu: 2000m
    # -- Configurations for the GraphDB node startup probe. Misconfigured probe can lead to a failing cluster.
    startupProbe:
      httpGet:
        path: /protocol
        port: graphdb
      failureThreshold: 30
      timeoutSeconds: 5
      periodSeconds: 10
    # -- Configurations for the GraphDB node readiness probe. Misconfigured probe can lead to a failing cluster.
    readinessProbe:
      httpGet:
        path: /protocol
        port: graphdb
      initialDelaySeconds: 5
      timeoutSeconds: 5
      periodSeconds: 10
    # -- Configurations for the GraphDB node liveness probe. Misconfigured probe can lead to a failing cluster.
    livenessProbe:
      httpGet:
        path: /protocol
        port: graphdb
      initialDelaySeconds: 60
      timeoutSeconds: 5
      periodSeconds: 10

  # GraphDB workbench configurations
  workbench:
    # -- This is the sub path at which GraphDB workbench can be opened.
    # Should be configured in the API gateway (or any other proxy in front)
    subpath: /graphdb

  # WARNING: Setting enabled to true in most cloud providers will result in an error
  # Attach additional PV which will be used as an import directory
  # https://graphdb.ontotext.com/documentation/standard/loading-data-using-the-workbench.html#importing-server-files
  import_directory_mount:
    enabled: false
    volumeClaimTemplateSpec:
      accessModes:
        - "ReadWriteOnce"
      resources:
        requests:
          storage: "10Gi"
  backup:
    enabled: false
    schedule: "*/3 * * * *"
    # Currently only local and s3 are supported
    type: local
    # If using S3 provide a name of a secret that contains the required region, aws_access_key_id and aws_secret_access_key
    cloudSecretConfig: s3-secret
    backupPath: blabla.tar
    # [] if you don't want to include any repositories, ["x", "y"] if you want to backup repositories x and y, "" if you want all repositories
    repositories: ""
    backupSystemData: false
    countOfBackupsToKeep: 5
    persistence:
      # use dynamic volume provisioning
      volumeClaimTemplateSpec:
        accessModes:
          - "ReadWriteOnce"
        resources:
          requests:
            storage: "5Gi"
  restore:
    enabled: false
    # Currently only local and s3 are supported
    type: local
    # Name of the backup.tar to restore. If using cloud restore, add bucket path too.
    backupName: blabla.tar
    # A secret containing the region and authentication for the cloud restore
    cloudSecretConfig: s3-secret
    # [] if you don't want to include any repositories, ["x", "y"] if you want to backup repositories x and y, "" if you want all repositories
    repositories: ""
    restoreSystemData: false
    removeStaleRepositories: false
    persistence:
      backupsVolumeName: gdb-backups
