apiVersion: {{ .Values.versions.configmap }}
kind: ConfigMap
metadata:
  name: graphdb-utils-configmap
  labels:
    name: graphdb-utils-configmap
    {{- include "graphdb.labels" . | nindent 4 }}
data:
  graphdb.sh: |-
{{ tpl (.Files.Get "files/scripts/graphdb.sh" | indent 4) . }}
  update-cluster.sh: |-
{{ tpl (.Files.Get "files/scripts/update-cluster.sh" | indent 4) . }}
