apiVersion: {{ $.Values.versions.configmap }}
kind: ConfigMap
metadata:
  name: graphdb-node-configmap
  labels:
    {{- include "graphdb.labels" . | nindent 4 }}
data:
  # >- means replace new line with space and no new lines at the end
  GDB_JAVA_OPTS: >-
    -Denable-context-index=true
    -Dentity-pool-implementation=transactional
    -Dhealth.max.query.time.seconds=60
    -Dgraphdb.vhosts={{ $.Values.deployment.protocol }}://{{ include "resolveDeploymentHost" $ }}{{ $.Values.graphdb.workbench.subpath }}{{range $i, $node_index := until ((int $.Values.graphdb.clusterConfig.nodesCount) ) }},{{ $.Values.deployment.protocol }}://{{ include "resolveDeploymentHost" $ }}/node-{{ $node_index }}
    {{- end }}
    -Dgraphdb.append.request.id.headers=true
    -Dgraphdb.workbench.importDirectory=/opt/graphdb/home/graphdb-import
    -Dgraphdb.home.conf=/opt/graphdb/home/conf
    -Dgraphdb.ontop.jdbc.path=/opt/graphdb/home/jdbc-driver
{{- if ne (int $.Values.graphdb.clusterConfig.nodesCount) 1 }}
    -Dgraphdb.auth.token.secret={{ $.Values.graphdb.clusterConfig.clusterSecret | quote }}
{{- end }}
    {{ default $.Values.graphdb.node.java_args}}
