apiVersion: {{ $.Values.versions.configmap }}
kind: ConfigMap
metadata:
  name: graphdb-node-configmap
  labels:
    {{- include "graphdb.labels" . | nindent 4 }}
data:
  # >- means replace new line with space and no new lines at the end
  GDB_JAVA_OPTS: >-
    -Denable-context-index=true
    -Dentity-pool-implementation=transactional
    -Dhealth.max.query.time.seconds=60
    -Dgraphdb.vhosts={{ $.Values.deployment.protocol }}://{{ include "graphdb.resolveDeploymentHost" $ }}{{ $.Values.graphdb.workbench.subpath }}
    -Dgraphdb.append.request.id.headers=true
    -Dgraphdb.workbench.importDirectory=/opt/graphdb/home/graphdb-import
    -Dgraphdb.home=/opt/graphdb/home
    -Dgraphdb.ontop.jdbc.path=/opt/graphdb/home/jdbc-driver
{{- if gt (int $.Values.graphdb.clusterConfig.nodesCount) 1 }}
    -Dgraphdb.auth.token.secret={{ $.Values.graphdb.clusterConfig.clusterSecret | quote }}
{{- else }}
    -Dgraphdb.external-url={{ $.Values.deployment.protocol }}://{{ include "graphdb.resolveDeploymentHost" $ }}{{ $.Values.graphdb.workbench.subpath }}
{{- end }}
    {{ default $.Values.graphdb.node.java_args}}
